In [4]:
for x in a:
    for y in b:
        print(x+y)

3
4
5
4
5
6
5
6
7

In [5]:
a

[0, 1, 2]

In [9]:
b[2] % a[2]

1

In [11]:
2 ** 3

8

In [16]:
type(type(a))

type

In [20]:
a = a + a
a

32

In [22]:
a = 2

In [23]:
b = 3

In [27]:
type(a) == int

True

In [28]:
myString = "I don't have a strich in me"
print(myString)

I don't have a strich in me

In [29]:
myStr = myString

In [30]:
myStr[0]

'I'

In [32]:
myStr[-1]

'e'

In [33]:
myStr[-2]

'm'

In [34]:
myStr.length()

AttributeError: 'str' object has no attribute 'length'

In [36]:
myStr = "blub"

In [37]:
myStr[-3]

'l'

In [40]:
myStr[-4]

'b'

In [43]:
print('hello \t worldy')

hello 	 worldy

In [44]:
len('i am')

4

In [45]:
len(myStr)

4

In [46]:
mystr = 'Hello World'

In [47]:
mystr

'Hello World'

In [48]:
mystr[0]

'H'

In [49]:
mystr[5]

' '

In [50]:
type(mystr)

str

In [51]:
type(mystr[1])

str

In [52]:
mystr[1]

'e'

In [53]:
mystr[2:]

'llo World'

In [54]:
mystr[:3]

'Hel'

In [55]:
mystr[3:]

'lo World'

In [56]:
mystr[0:4]

'Hell'

In [57]:
mystr[0:5]

'Hello'

In [58]:
mystr[::2]

'HloWrd'

In [60]:
mystr[::-1]

'dlroW olleH'

In [62]:
mystr[4:0:-1]

'olle'

In [64]:
name = "Sam"

In [65]:
name[0] = "P"

TypeError: 'str' object does not support item assignment

In [66]:
last_letter = name[1:]

In [67]:
last_letter

'am'

In [68]:
'P' + last_letter

'Pam'

In [69]:
name.upper()

'SAM'

In [70]:
name

'Sam'

In [71]:
name = name.upper()

In [72]:
name

'SAM'

In [73]:
type(name.upper)

builtin_function_or_method

In [74]:
type(name.upper())

str

In [75]:
name.split()

['SAM']

In [76]:
name.split('i')

['SAM']

In [77]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [79]:
print('The {0} {1} {0}'.format('fox', 'brown', 'quick'))

The fox brown fox

In [81]:
print('The {f} {f} {f}'.format(f='fox', b='brown', q='quick'))

The fox fox fox

In [82]:
result = 100 / 777

In [84]:
result

0.1287001287001287

In [93]:
print('The result was {r:3.3f}'.format(r=result))

The result was 104.412

In [91]:
result = 104.4123213

In [94]:
name = "Tombo"

In [97]:
print(f'Hello, his name is {name}')

Hello, his name is Tombo

In [98]:
name = "Same"

In [99]:
age = 3

In [100]:
print(f'{name} is {age} years old')

Same is 3 years old

In [101]:
mylist = [1, 2, 3]

In [102]:
print(mylist)

[1, 2, 3]

In [103]:
mylist = ['str', 1, 1.2]

In [104]:
print(mylist)

['str', 1, 1.2]

In [105]:
len(mylist)

3

In [106]:
mylist[0]

'str'

In [107]:
mylist[1:2]

[1]

In [108]:
mylist[1:]

[1, 1.2]

In [109]:
anotherlist = ['four', 'five']

In [110]:
mylist + anotherlist

['str', 1, 1.2, 'four', 'five']

In [111]:
mynewlist = mylist + anotherlist

In [112]:
mynewlist

['str', 1, 1.2, 'four', 'five']

In [113]:
mynewlist[0] = 'ONE ALL CAPS'

In [114]:
mynewlist

['ONE ALL CAPS', 1, 1.2, 'four', 'five']

In [115]:
mylist

['str', 1, 1.2]

In [120]:
mylist.append('true')

In [117]:
mylist

['str', 1, 1.2, 'true']

In [118]:
mylist.pop()

'true'

In [119]:
mylist

['str', 1, 1.2]

In [121]:
mylist.remove(1)

In [122]:
mylist

['str', 1.2, 'true']

In [124]:
mylist = ['One', 'Two', 'Three', 'Four', 'Five']

In [125]:
mylist

['One', 'Two', 'Three', 'Four', 'Five']

In [126]:
mylist.remove(0)

ValueError: list.remove(x): x not in list

In [127]:
mylist

['One', 'Two', 'Three', 'Four', 'Five']

In [128]:
mylist.pop(0)

'One'

In [129]:
newlist = ['a', 'e', 'x', 'b', 'c']
numlist = [2, 4, 6, 1, 3, 8]

In [130]:
newlist.sort()

In [131]:
newlist

['a', 'b', 'c', 'e', 'x']

In [132]:
None

In [133]:
numlist.sort()

In [134]:
numlist

[1, 2, 3, 4, 6, 8]

In [135]:
numlist.reverse()

In [136]:
numlist

[8, 6, 4, 3, 2, 1]

In [137]:
mydict = {'key1': 'val1', 'key2': 'val2'}

In [138]:
mydict

{'key1': 'val1', 'key2': 'val2'}

In [139]:
mydict['key1']

'val1'

In [140]:
price_lookup = {'apple': 2.99, 'orange': 1.99, 'milk': 5.80}

In [141]:
price_lookup

{'apple': 2.99, 'orange': 1.99, 'milk': 5.8}

In [142]:
price_lookup['apple']

2.99

In [143]:
d = {'k1': 123, 'k2': price_lookup}

In [144]:
d['k2']

{'apple': 2.99, 'orange': 1.99, 'milk': 5.8}

In [145]:
d['k2']['orange']

1.99

In [147]:
d = {'key1': ['a', 'b', 'c']}

In [148]:
d

{'key1': ['a', 'b', 'c']}

In [149]:
d['key1']

['a', 'b', 'c']

In [152]:
d['key1'][2] = d['key1'][2].upper()

In [153]:
d

{'key1': ['a', 'b', 'C']}

In [155]:
d = {'k1': 100, 'k2': 200}

In [156]:
d['k3'] = 300;

In [157]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [158]:
d['k2'] = 150

In [159]:
print(d)

{'k1': 100, 'k2': 150, 'k3': 300}

In [160]:
d

{'k1': 100, 'k2': 150, 'k3': 300}

In [162]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [163]:
d.values()

dict_values([100, 150, 300])

In [164]:
d.items()

dict_items([('k1', 100), ('k2', 150), ('k3', 300)])

In [165]:
d = {2: 3, 1: 4}

In [166]:
d

{2: 3, 1: 4}

In [167]:
d[2]

3

In [168]:
t = (1, 2, 3)

In [169]:
mylist = [1, 2, 3]

In [170]:
type(t)

tuple

In [171]:
type(mylist)

list

In [172]:
len(t)

3

In [173]:
t = ('one', 2, 3.3)

In [174]:
t

('one', 2, 3.3)

In [175]:
t[0]

'one'

In [176]:
t[-1]

3.3

In [177]:
t.count()

TypeError: count() takes exactly one argument (0 given)

In [178]:
t.count(2)

1

In [179]:
t.index(3.3)

2

In [180]:
t[0]

'one'

In [181]:
t[0] = 'ONE'

TypeError: 'tuple' object does not support item assignment

In [182]:
mylist[0] = 'NEW'

In [183]:
mylist

['NEW', 2, 3]

In [184]:
myset = set()

In [185]:
myset.add(1)

In [186]:
myset

{1}

In [187]:
myset.add(1)

In [188]:
myset

{1}

In [189]:
myset.add(2)

In [190]:
myset

{1, 2}

In [191]:
mylist = [1,1,1,1,2,2,2,2,3,3,3,2,2,2,2,5,5,5,4,4,4,4]

In [192]:
myset = set(mylist)

In [193]:
myset

{1, 2, 3, 4, 5}

In [194]:
myboolean = true

NameError: name 'true' is not defined

In [195]:
mybool = True

In [196]:
mybool

True

In [197]:
type(mybool)

bool

In [198]:
true = False

In [199]:
if true == False:
    print('false is true')

false is true

In [200]:
1 > 2

False

In [201]:
3 > 2

True

In [1]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [5]:
myfile = open('myfile.txt')

In [3]:
myfile = open('whoops.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'whoops.txt'

In [4]:
pwd

'C:\\Users\\tobaz\\Entwicklung\\PythonBootCamp\\JupyterNotebook'

In [6]:
myfile

In [7]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [8]:
myfile.seek(0)

0

In [9]:
textContent = myfile.read()

In [10]:
textContent

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [11]:
myfile.seek(0)

0

In [12]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [13]:
myfile.close()

In [14]:
myfile = open('myfile.txt')

In [15]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [16]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [19]:
with open('myfile.txt', mode='a') as myfile:
    contents = myfile.read()

UnsupportedOperation: not readable

In [18]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [24]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [26]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

FOUR ON FORTH

In [25]:
with open('my_new_file.txt', mode='a') as f:
    f.write('\nFOUR ON FORTH')

In [27]:
with open('adsadas.txt', mode='w') as f:
    f.write('I CREATED THIS FILE')

In [28]:
with open('adsadas.txt', mode='r') as f:
    print(f.read())

I CREATED THIS FILE