# Data Types

### Integer (int)

In [17]:
a = 5
b = 4
c = a-b
print(c)
print(f'c is of type: {type(c)}')

1
c is of type: <class 'int'>

### Float

In [18]:
a = 2.3
b = 3.5
c = a-b*2
print(c)
print(f'c is of type: {type(c)}')

-4.7
c is of type: <class 'float'>

### String

In [9]:
mystring1 = 'This is my first string.'

In [10]:
mystring2 = "This is my second string."

In [11]:
mystring3 = "This isn't an integer."

In [19]:
print('These are a lot of strings: ' + mystring1 + ' ' + mystring2 + ' ' + mystring3)
print(f'mystring1 is of type: {type(mystring1)}')

These are a lot of strings: This is my first string This is my second string This isn't an integer
mystring1 is of type: <class 'str'>

### List

In [21]:
mylist = list()

##### Lists can store multiple elements of any type in a sequence array. The data type of the elements does not have to be unique

In [23]:
mylist.append('String in a list')

In [24]:
mylist.append(3)

In [25]:
mylist.append(4.45)

In [27]:
print(mylist)

['String in a list', 3, 4.45]

##### List items are editable via index assignment

In [28]:
mylist[1] = 'This is another string in a list'

In [29]:
print(mylist)

['String in a list', 'This is another string in a list', 4.45]

##### List items are accessable by negative indices

In [31]:
mylist

['String in a list', 'This is another string in a list', 4.45]

In [32]:
mylist[-1]

4.45

In [33]:
mylist[-2]

'This is another string in a list'

##### Removing elements from the list

In [34]:
help(mylist.remove)

Help on built-in function remove:

remove(value, /) method of builtins.list instance
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [35]:
mylist.remove(4.45)

In [36]:
mylist

['String in a list', 'This is another string in a list']

In [37]:
lastListItem = mylist.pop()

In [38]:
lastListItem

'This is another string in a list'

In [39]:
mylist

['String in a list']

### Index slicing

##### Index slicing can be applied to any list-like object (array, string ...)

In [40]:
mystring = 'This is my string'

In [41]:
mylist = list(mystring)

In [43]:
print(mylist)

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'm', 'y', ' ', 's', 't', 'r', 'i', 'n', 'g']

##### You can receive elements from a list by the index slicing notation [firstIndex:lastIndex:stepSize]. Note to consider: lastIndex will not be considered, so in order to access the first word from the above string you would need to do the following:

In [45]:
mystring[0:3] # wrong

'Thi'

In [46]:
mystring[0:4] # right

'This'

In [47]:
mystring[0:4:2]

'Ti'

##### You can get a reversed string by negative index slicing notation. Default values for firstIndex, lastIndex and stepSize are applied if you leave them out. [0, length of list, 1]

In [48]:
mystring

'This is my string'

In [49]:
myReversedString = mystring[::-1]

In [50]:
myReversedString

'gnirts ym si sihT'

In [54]:
mystring[0: len(mystring): 1] # Same as mystring[::1]

'This is my string'

In [55]:
mystring[::1]

'This is my string'

##### You can do the same operations on a list

In [56]:
print(mylist)

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'm', 'y', ' ', 's', 't', 'r', 'i', 'n', 'g']

In [58]:
print(mylist[::-1]) #Reversed

['g', 'n', 'i', 'r', 't', 's', ' ', 'y', 'm', ' ', 's', 'i', ' ', 's', 'i', 'h', 'T']

##### List concatenation

In [62]:
list1 = [1, 2, 3]
list2 = [3, 4, 5]

In [63]:
list3 = list1 + list2

In [64]:
print(list3)

[1, 2, 3, 3, 4, 5]

##### List repetition

In [65]:
list1 = ['Hi']
list2 = list1 * 4
print(list2)

['Hi', 'Hi', 'Hi', 'Hi']

##### Check for membership in list

In [67]:
list1 = [1, 2, 3, 4, 5]
print(f'Is 3 in here: {list1}? Answer: {3 in list1}')

Is 3 in here: [1, 2, 3, 4, 5]? Answer: True

In [68]:
print(f'Is 7 in here: {list1}? Answer: {7 in list1}')

Is 7 in here: [1, 2, 3, 4, 5]? Answer: False

##### Iterating through a list

In [70]:
list1 = ['Hello', 'my', 'name', 'is', 'Tom', 1, 2, 3, 4]

In [71]:
for element in list1:
    print(element)

Hello
my
name
is
Tom
1
2
3
4

In [72]:
for x in range(0, len(list1)):
    print(list1[x])

Hello
my
name
is
Tom
1
2
3
4

### Tuples

##### Tuples work the same way like lists but are immutable, meaning they cannot be changed via index access

In [73]:
mytuple = (1, 2, 3, 4, 5)

In [74]:
print(mytuple[::1])

(1, 2, 3, 4, 5)

In [75]:
mytuple[2]

3

In [76]:
mytuple[2] = 4

TypeError: 'tuple' object does not support item assignment

In [77]:
listFromTuple = list(mytuple)

In [80]:
print(str(listFromTuple) + str(type(listFromTuple)))

[1, 2, 3, 4, 5]<class 'list'>

### Dictionary

##### Dictionaries are a collection of items which consist of a key and value

In [93]:
mydict = {'Name': 'Tom', 'Age': '27', 'Hair color': 'brown'}

In [94]:
mydict['Name']

'Tom'

In [95]:
mydict['Age']

'27'

In [96]:
mydict['Eye color'] = 'blue'

In [97]:
print(mydict)

{'Name': 'Tom', 'Age': '27', 'Hair color': 'brown', 'Eye color': 'blue'}

##### You can use tuple unpacking to iterate through the key value pairs

In [99]:
for key, value in mydict.items():
    print(key + ': ' + value)

Name: Tom
Age: 27
Hair color: brown
Eye color: blue

### Set

##### A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

##### However, a set itself is mutable. We can add or remove items from it.

##### Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

In [100]:
my_set = {1, 2, 3}

In [101]:
print(my_set)

{1, 2, 3}

In [105]:
my_set = {'bla', 'blu', 2}

In [108]:
print(my_set) # unordered set of mixed data types!

{'blu', 2, 'bla'}

In [109]:
my_set = {1, 2, 3, 3, 4}

In [110]:
print(my_set)

{1, 2, 3, 4}

In [111]:
my_set1 = {1, 2, 3, 4, 5}

In [112]:
my_set2 = {5, 6, 7, 8, 9}

In [113]:
my_set3 = my_set1.intersection(my_set2)

In [114]:
print(my_set3)

{5}

In [115]:
my_set3 = my_set1.union(my_set2)
print(my_set3)

{1, 2, 3, 4, 5, 6, 7, 8, 9}